.button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 32px;
  text-decoration: none;
  border-radius: 4px;
}
.button:hover{
  transform: scale(1.03);
}
#menu_button{
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  width: 88px;

}

#btn_learnline{
  color: #ffffff;
  background-color: #211545;
  width: 122px;
}

#btn_learnline:hover{
  transform: scale(1.03);


}
#close_button{
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  width: 92px;
  background-color: #ffffff;

}
.fas{
  padding-right: 8px;
}
